.projects {
  display: flex;
  flex-direction: column;
}
.projects-header {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 0;
}

a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
