<app-spinner *ngIf="!projectsLoaded; else displayTable"></app-spinner>

<ng-template #displayTable>
  <table mat-table [dataSource]="projects" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
        <a>{{ element.name }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="lead">
      <th mat-header-cell *matHeaderCellDef>Lead</th>
      <td mat-cell *matCellDef="let element">{{ element.lead }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item>
            <span>Manage Project</span>
          </a>
          <a mat-menu-item>
            <span>Delete</span>
          </a>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-template>
